name: Deploy on Release

on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-upload:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Prepare site content
      run: |
        mkdir -p output
        mkdir -p output/${{ github.event.release.tag_name }}
        cp -r index.html ru en output/${{ github.event.release.tag_name }}/
        
        # Создаем корневую index.html для навигации
        cat > output/index.html << 'EOF'
        <!DOCTYPE html>
        <html>
        <head>
            <title>Lab4 - Все версии</title>
        </head>
        <body>
            <h1>Доступные версии:</h1>
            <ul>
                <li><a href="./v1.0.1/">Версия v1.0.1</a></li>
            </ul>
        </body>
        </html>
        EOF

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./output
        publish_branch: gh-pages
        keep_files: true
